.text-block
    background-color #fff
    &--blue
        background-color #f4f6f8
    &__in
        container(1210px)
        padding 50px 20px 25px

    &__title
        color #2a2a2a
        font(Demi)
        font-size 30px
        line-height 1
        text-transform uppercase
        text-align center
        margin 0 0 35px
        span
            color #d90025

    p
        color #363835
        font()
        font-size 20px
        line-height 1.5
        margin 0 0 25px
