.text-block
    background-color #fff
    &--blue
        background-color #f4f6f8
    &__in
        container(1210px)
        padding 50px 20px 25px

    &__title
        color #2a2a2a
        font(Demi)
        font-size 30px
        line-height 1
        text-transform uppercase
        text-align center
        margin 0 0 1.15em
        span
            color #d90025
        +below(1000px)
            font-size 24px
        ^[0]--left &
            +above(941px)
                text-align left
    +below(940px)
        h3
            text-align center
    p
        color #363835
        font()
        font-size 20px
        line-height 1.5
        margin 0 0 1.25em
        +below(1000px)
            font-size 16px
