include ../extra-links/extra-links

mixin text-block-1()
    section.text-block&attributes(attributes)
        .text-block__in
            h2.text-block__title Срочно нужны деньги? <span>Мы&nbsp;поможем!</span>
            p Возможность получить кредит под залог автомобиля обладает массой достоинств. Во-первых, оперативность выдачи денег – всего через 30 минут вы получите 90% от стоимости вашего автомобиля наличными в кассе автоломбарда. Стоимость рассчитывается на основе результатов оценки авто профессиональными экспертами компании, обладающими значительным опытом в экспертизе транспорта. Еще одним преимуществом является минимальный пакет документов, необходимый для выдачи кредита.

mixin text-block-2()
    section.text-block&attributes(attributes)
        .text-block__in
            h2.text-block__title Срочно нужны деньги? <span>Автосделка поможет!</span>
            p Возможность получить кредит под залог автомобиля обладает массой достоинств. Во-первых, оперативность выдачи денег – всего через 30 минут вы получите 90% от стоимости вашего автомобиля наличными в кассе автоломбарда. Стоимость рассчитывается на основе результатов оценки авто профессиональными экспертами компании, обладающими значительным опытом в экспертизе транспорта. Еще одним преимуществом является минимальный пакет документов, необходимый для выдачи кредита.

mixin text-block-3()
    section.text-block&attributes(attributes)
        .text-block__in
            h2.text-block__title <span>Описание услуги</span>
            p Возможность получить кредит под залог автомобиля обладает массой достоинств. Во-первых, оперативность выдачи денег – всего через 30 минут вы получите 90% от стоимости вашего автомобиля наличными в кассе автоломбарда. Стоимость рассчитывается на основе результатов оценки авто профессиональными экспертами компании, обладающими значительным опытом в экспертизе транспорта. Еще одним преимуществом является минимальный пакет документов, необходимый для выдачи кредита.

mixin text-block-4()
    section.text-block.text-block--blue&attributes(attributes)
        .text-block__in
            h2.text-block__title <span>Дополнительные услуги</span>
            p Возможность получить кредит под залог автомобиля обладает массой достоинств. Во-первых, оперативность выдачи денег – всего через 30 минут вы получите 90% от стоимости вашего автомобиля наличными в кассе автоломбарда. Стоимость рассчитывается на основе результатов оценки авто профессиональными экспертами компании, обладающими значительным опытом в экспертизе транспорта. Еще одним преимуществом является минимальный пакет документов, необходимый для выдачи кредита.

mixin text-block-5()
    section.text-block&attributes(attributes)
        .text-block__in
            h2.text-block__title SEO Тексты
            p Возможность получить кредит под залог автомобиля обладает массой достоинств. Во-первых, оперативность выдачи денег – всего через 30 минут вы получите 90% от стоимости вашего автомобиля наличными в кассе автоломбарда. Стоимость рассчитывается на основе результатов оценки авто профессиональными экспертами компании, обладающими значительным опытом в экспертизе транспорта. Еще одним преимуществом является минимальный пакет документов, необходимый для выдачи кредита. 

mixin text-block-extra()
    section.text-block&attributes(attributes)
        .text-block__in
            h2.text-block__title Смотрите также
            +extra-links()
