mixin question()
    .question&attributes(attributes)
        h3.question__name Ирина Иванова
        time(datetime="2016-02-20").question__date 20.02.2016
        p.question__text Здравствуйте! У меня следующий вопрос. Может ли кто-нибудь воспользоваться моим автомобилем, оставленным в залог в вашем Ломбарде?
