.question
    display block
    width 100%
    background-color #f4f6f8
    padding 25px 25px 5px
    margin 0 0 30px
    +below(480px)
        margin-bottom 0

    &__name
        color #2a2a2a
        font(Bold)
        font-size 20px
        line-height 1
        margin 0 0 12px
        +below(1000px)
            font-size 18px

    &__date
        display block
        color #555
        font()
        font-size 15px
        line-height 1
        margin 0 0 10px
        +below(1000px)
            font-size 13px

    &__text
        color #2a2a2a
        font()
        font-size 20px
        line-height 1.5
        margin 0 0 20px
        +below(1000px)
            font-size 18px
