.slider-form
    width 100%
    +below(700px)
        max-width 400px
        margin 0 auto

    &__group
        width 100%
        display flex
        flex-flow row nowrap
        justify-content space-between
        +below(700px)
            flex-flow row wrap
            justify-content: center

    &__input
        max-width 100%
        margin-right 2%
        flex 1 1 32%
        height 42px
        line-height 42px
        +below(700px)
            flex 1 0 100%
            margin-right 0
            margin-bottom 20px

    &__button
        max-width 100%
        flex 1 1 32%
        height 42px
        font-size 16px
        +below(700px)
            max-width 210px
            height 42px
            flex 0 0 auto
            font-size 20px


    &__privacy
        color #57595b
        font()
        font-size 14px
        line-height 1
        margin 30px 0 0
        text-align right
        +below(940px)
            text-align center
            margin-top 25px
