.slider-form
    width 100%
    +below(600px)
        max-width 400px
        margin 0 auto

    &__group
        width 100%
        display flex
        flex-flow row nowrap
        justify-content space-between
        +below(600px)
            flex-direction column
            align-items center

    &__input
        max-width 100%
        margin-right 2%
        flex 1 1 32%
        +below(1170px)
            height 42px
            line-height 42px
        +below(600px)
            margin-bottom 20px

    &__button
        max-width 100%
        flex 1 1 32%
        +below(1170px)
            height 42px
        +below(600px)
            max-width 210px

    &__privacy
        color #57595b
        font()
        font-size 14px
        line-height 1
        margin 40px 0 0
        text-align right
        +below(700px)
            text-align center
            margin-top 30px
