.slider
    width 100%
    position relative
    overflow-x hidden


    &__container
        width 100%
        padding 0
        margin 0 auto

    &__arrow-prev
        display block
        sprite($icon_slider_prev)
        position absolute
        left -30px
        top 50%
        transform translateY(-50%)
        z-index 100
        cursor pointer
        transition all .3s ease
        +below(1250px)
            transform scale(.6)
            transform-origin left top
            top 30%
            left -20px
        &.on
            left 0

    &__arrow-next
        display block
        sprite($icon_slider_next)
        position absolute
        right -30px
        top 50%
        transform translateY(-50%)
        z-index 100
        cursor pointer
        transition all .3s ease
        +below(1250px)
            transform scale(.6)
            transform-origin right top
            top 30%
            right -20px
        &.on
            right 0

.slide
    width 100%
    background #fff url(img/slider-bg.jpg) no-repeat center center
    background-size cover
    &__in
        display flex !important
        flex-flow row nowrap
        justify-content space-between
        width 100%
        max-width 1210px
        padding 0 20px
        margin 0 auto
        +below(940px)
            justify-content center
            padding 40px 20px

    &__img
        flex 0 0 auto
        display block
        width 100%
        max-width 336px
        height auto
        align-self flex-end
        +below(1170px)
            max-width 250px
        +below(940px)
            display none !important

    &__content
        flex 0 1 780px
        align-self center
        display block
        +below(1170px)
            flex 0 1 700px

    &__title
        color black
        font(Book)
        font-size 60px
        line-height 1.1
        text-align left
        margin 0 0 30px
        +below(1170px)
            font-size 42px
        +below(940px)
            text-align center
        +below(480px)
            font-size 30px

    &__list
        width 100%
        list-style none
        padding 0
        margin 0 0 55px
        display flex
        flex-flow row nowrap
        justify-content space-between
        +below(1170px)
            margin-bottom 20px
        +below(700px)
            flex-direction column
            align-items center

    &__item
        flex 0 1 auto
        display inline-block
        padding 0 0 0 70px
        margin 0
        max-width 260px
        min-height 50px
        color #333
        font(Book)
        font-size 24px
        line-height 1.25
        position relative
        span
            font-size 14px
        &::before
            content ""
            position absolute
            top 3px
            left 0
        &:nth-child(1)
            &::before
                sprite($icon_slider_1)
        &:nth-child(2)
            &::before
                sprite($icon_slider_2)
        &:nth-child(3)
            &::before
                sprite($icon_slider_3)

        +below(1170px)
            font-size 18px
            max-width 220px
            padding-top 5px
            padding-left 60px
            span
                font-size 11px

        +below(700px)
            font-size 24px
            padding-top 0
            padding-left 70px
            max-width 100%
            width 260px
            margin-bottom 30px
            span
                font-size 14px
