mixin breadcrumb(page)
    ul.breadcrumb
        li.breadcrumb__item
            a(href="#").breadcrumb__link Главная
        li.breadcrumb__item #{page}

mixin breadcrumb-2(page1, page2)
    ul.breadcrumb
        li.breadcrumb__item
            a(href="#").breadcrumb__link Главная
        li.breadcrumb__item
            a(href="#").breadcrumb__link #{page1}
        li.breadcrumb__item #{page2}
