mixin steps()
    section.steps&attributes(attributes)
        .steps__in
            h2.steps__title Три простых шага
            ol.steps__list
                li.steps__item
                    img(src="assets/img/steps-1.jpg" width="170" height="170" alt="").steps__img
                    p.steps__caption Приехать в офис
                li.steps__item
                    img(src="assets/img/steps-2.jpg" width="170" height="170" alt="").steps__img
                    p.steps__caption Подписать договор
                li.steps__item
                    img(src="assets/img/steps-3.jpg" width="170" height="170" alt="").steps__img
                    p.steps__caption Получить деньги
