mixin popup-callback()
    form.popup-callback.popup(action="#", method="POST")#popup-callback&attributes(attributes)
        h3.popup-callback__title Перезвоните мне
        input(type="text" name="name" placeholder="Имя").input.popup-callback__input
        input(type="tel" name="phone" placeholder="Телефон").input.popup-callback__input
        .popup-callback__bottom
            button(type="submit").button.popup-callback__button Отправить заявку
            p.popup-callback__privacy Не передаем телефон 3-м лицам, не рассылаем спам
