mixin footer-menu-1()
    ul.footer-menu&attributes(attributes)
        li.footer-menu__item
            a(href="#").footer-menu__link Главная
        li.footer-menu__item.current
            a(href="#").footer-menu__link О компании
        li.footer-menu__item
            a(href="#").footer-menu__link Вопросы и ответы
        li.footer-menu__item
            a(href="#").footer-menu__link Мы в прессе
        li.footer-menu__item
            a(href="#").footer-menu__link Контакты

mixin footer-menu-2()
    ul.footer-menu&attributes(attributes)
        li.footer-menu__item
            a(href="#").footer-menu__link Автоломбард
        li.footer-menu__item
            a(href="#").footer-menu__link Автозайм
        li.footer-menu__item
            a(href="#").footer-menu__link Выкуп автомобиля
        li.footer-menu__item
            a(href="#").footer-menu__link Автосалон
        li.footer-menu__item
            a(href="#").footer-menu__link Наши гарантии
