.footer-menu
    width 130px
    padding 0
    margin 0
    display block
    list-style none

    &__item
        display block
        padding 0
        margin 11px 0 13px

    &__link
        color #666
        font()
        font-size 13px
        line-height 1
        text-decoration underline
        transition all .5s ease

        ^[0]__item.current &
        &.current
        &:hover
            color #d90025
            text-decoration underline
