mixin mobile-menu()
    ul.mobile-menu&attributes(attributes)
        li.mobile-menu__item
            a(href="#").mobile-menu__link Главная
        li.mobile-menu__item
            a(href="#").mobile-menu__link О компании
        li.mobile-menu__item.current
            a(href="#").mobile-menu__link Вопросы и ответы
        li.mobile-menu__item
            a(href="#").mobile-menu__link Мы в прессе
        li.mobile-menu__item
            a(href="#").mobile-menu__link Контактная информация
        li.mobile-menu__item
            a(href="#").mobile-menu__link Автоломбард
        li.mobile-menu__item
            a(href="#").mobile-menu__link Автозайм
        li.mobile-menu__item
            a(href="#").mobile-menu__link Выкуп автомобиля
        li.mobile-menu__item
            a(href="#").mobile-menu__link Автосалон
        li.mobile-menu__item
            a(href="#").mobile-menu__link Наши гарантии
