mixin main-menu()
    ul.main-menu&attributes(attributes)
        li.main-menu__item.current
            a(href="#").main-menu__link
                span.main-menu__caption Автоломбард
        li.main-menu__item
            a(href="#").main-menu__link
                span.main-menu__caption Автозайм
        li.main-menu__item
            a(href="#").main-menu__link
                span.main-menu__caption Выкуп авто<span class="main-menu__hide">мобиля</span>
        li.main-menu__item
            a(href="#").main-menu__link
                span.main-menu__caption Автосалон
        li.main-menu__item
            a(href="#").main-menu__link
                span.main-menu__caption Наши гарантии
