.footer
    background-color #f4f6f8

    &__in
        container(1000px)
        padding 40px 20px 45px
        display flex
        justify-content space-between
        +below(700px)
            justify-content center
            flex-flow row wrap

    &__left
        flex 1 1 400px
        +below(940px)
            flex 1 1 50%
        +below(700px)
            flex 1 1 100%
            text-align center
            margin-bottom 20px

    &__logo
        margin 0 0 25px

    &__copyright
        width 100%
        color #666
        font()
        font-size 14px
        font-weight 400
        line-height 1.44
        margin 0
        a
            color #666
            text-decoration underline
            &:hover
                color #d90025
                text-decoration underline

    &__mid
        flex 0 1 290px
        display flex
        flex-flow row nowrap
        justify-content space-between
        +below(940px)
            display none

    &__right
        flex 0 1 240px
        text-align right
        padding-top 22px
        +below(940px)
            flex 1 1 50%
        +below(700px)
            flex 1 1 100%
            text-align center

    &__phone
        display block
        color #606060
        font()
        font-size 27px
        line-height 1
        text-decoration none
        text-align right
        margin 0 0 25px
        span
            color #2a2a2a
            font(Bold)
        &:hover
            text-decoration none
        +below(940px)
            font-size 34px
        +below(700px)
            text-align center
        +below(480px)
            font-size 27px

    &__button
        display inline-block
