h2
    color #2a2a2a
    font(Demi)
    font-size 30px
    line-height 1.2
    // margin 0 0 1.1em

a
    color #666
    text-decoration underline
    &:hover
        color #d90025
        text-decoration undeline

p
    color #363835
    font()
    font-size 20px
    line-height 1.5
    // margin 0 0 1.25em
