@font-face
    font-family "PTSansRegular"
    src url("fonts/PTSansRegular/PTSansRegular.eot")
    src url("fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"),
        url("fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
        url("fonts/PTSansRegular/PTSansRegular.ttf") format("truetype")
    font-style normal
    font-weight normal

@font-face
    font-family "PTSansBold"
    src url("fonts/PTSansBold/PTSansBold.eot")
    src url("fonts/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"),
        url("fonts/PTSansBold/PTSansBold.woff") format("woff"),
        url("fonts/PTSansBold/PTSansBold.ttf") format("truetype")
    font-style normal
    font-weight normal

@font-face
    font-family "FranklinGothic-Book"
    src url("fonts/FranklinGothic-Book/FranklinGothic-Book.eot")
    src url("fonts/FranklinGothic-Book/FranklinGothic-Book.eot?#iefix") format("embedded-opentype"),
        url("fonts/FranklinGothic-Book/FranklinGothic-Book.woff") format("woff"),
        url("fonts/FranklinGothic-Book/FranklinGothic-Book.ttf") format("truetype"),
        url("fonts/FranklinGothic-Book/FranklinGothic-Book.svg#FranklinGothic-Book") format("svg");
    font-style normal
    font-weight normal

@font-face
    font-family "FranklinGothic-Demi"
    src url("fonts/FranklinGothic-Demi/FranklinGothic-Demi.eot")
    src url("fonts/FranklinGothic-Demi/FranklinGothic-Demi.eot?#iefix") format("embedded-opentype"),
        url("fonts/FranklinGothic-Demi/FranklinGothic-Demi.woff") format("woff"),
        url("fonts/FranklinGothic-Demi/FranklinGothic-Demi.ttf") format("truetype"),
        url("fonts/FranklinGothic-Demi/FranklinGothic-Demi.svg#FranklinGothic-Demi") format("svg");
    font-style normal
    font-weight normal
