/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_close_small_name = 'icon-close-small';
$icon_close_small_x = 254px;
$icon_close_small_y = 148px;
$icon_close_small_offset_x = -254px;
$icon_close_small_offset_y = -148px;
$icon_close_small_width = 14px;
$icon_close_small_height = 14px;
$icon_close_small_total_width = 336px;
$icon_close_small_total_height = 314px;
$icon_close_small_image = 'img/sprite.png';
$icon_close_small = 254px 148px -254px -148px 14px 14px 336px 314px 'img/sprite.png' 'icon-close-small';
$icon_close_name = 'icon-close';
$icon_close_x = 280px;
$icon_close_y = 177px;
$icon_close_offset_x = -280px;
$icon_close_offset_y = -177px;
$icon_close_width = 44px;
$icon_close_height = 44px;
$icon_close_total_width = 336px;
$icon_close_total_height = 314px;
$icon_close_image = 'img/sprite.png';
$icon_close = 280px 177px -280px -177px 44px 44px 336px 314px 'img/sprite.png' 'icon-close';
$icon_features_1_name = 'icon-features-1';
$icon_features_1_x = 164px;
$icon_features_1_y = 82px;
$icon_features_1_offset_x = -164px;
$icon_features_1_offset_y = -82px;
$icon_features_1_width = 56px;
$icon_features_1_height = 56px;
$icon_features_1_total_width = 336px;
$icon_features_1_total_height = 314px;
$icon_features_1_image = 'img/sprite.png';
$icon_features_1 = 164px 82px -164px -82px 56px 56px 336px 314px 'img/sprite.png' 'icon-features-1';
$icon_features_2_name = 'icon-features-2';
$icon_features_2_x = 230px;
$icon_features_2_y = 82px;
$icon_features_2_offset_x = -230px;
$icon_features_2_offset_y = -82px;
$icon_features_2_width = 40px;
$icon_features_2_height = 54px;
$icon_features_2_total_width = 336px;
$icon_features_2_total_height = 314px;
$icon_features_2_image = 'img/sprite.png';
$icon_features_2 = 230px 82px -230px -82px 40px 54px 336px 314px 'img/sprite.png' 'icon-features-2';
$icon_features_3_name = 'icon-features-3';
$icon_features_3_x = 164px;
$icon_features_3_y = 148px;
$icon_features_3_offset_x = -164px;
$icon_features_3_offset_y = -148px;
$icon_features_3_width = 56px;
$icon_features_3_height = 56px;
$icon_features_3_total_width = 336px;
$icon_features_3_total_height = 314px;
$icon_features_3_image = 'img/sprite.png';
$icon_features_3 = 164px 148px -164px -148px 56px 56px 336px 314px 'img/sprite.png' 'icon-features-3';
$icon_features_4_name = 'icon-features-4';
$icon_features_4_x = 280px;
$icon_features_4_y = 0px;
$icon_features_4_offset_x = -280px;
$icon_features_4_offset_y = 0px;
$icon_features_4_width = 56px;
$icon_features_4_height = 46px;
$icon_features_4_total_width = 336px;
$icon_features_4_total_height = 314px;
$icon_features_4_image = 'img/sprite.png';
$icon_features_4 = 280px 0px -280px 0px 56px 46px 336px 314px 'img/sprite.png' 'icon-features-4';
$icon_location_name = 'icon-location';
$icon_location_x = 230px;
$icon_location_y = 148px;
$icon_location_offset_x = -230px;
$icon_location_offset_y = -148px;
$icon_location_width = 14px;
$icon_location_height = 21px;
$icon_location_total_width = 336px;
$icon_location_total_height = 314px;
$icon_location_image = 'img/sprite.png';
$icon_location = 230px 148px -230px -148px 14px 21px 336px 314px 'img/sprite.png' 'icon-location';
$icon_logo_mmenu_name = 'icon-logo-mmenu';
$icon_logo_mmenu_x = 0px;
$icon_logo_mmenu_y = 0px;
$icon_logo_mmenu_offset_x = 0px;
$icon_logo_mmenu_offset_y = 0px;
$icon_logo_mmenu_width = 270px;
$icon_logo_mmenu_height = 72px;
$icon_logo_mmenu_total_width = 336px;
$icon_logo_mmenu_total_height = 314px;
$icon_logo_mmenu_image = 'img/sprite.png';
$icon_logo_mmenu = 0px 0px 0px 0px 270px 72px 336px 314px 'img/sprite.png' 'icon-logo-mmenu';
$icon_mmenu_close_name = 'icon-mmenu-close';
$icon_mmenu_close_x = 56px;
$icon_mmenu_close_y = 264px;
$icon_mmenu_close_offset_x = -56px;
$icon_mmenu_close_offset_y = -264px;
$icon_mmenu_close_width = 44px;
$icon_mmenu_close_height = 44px;
$icon_mmenu_close_total_width = 336px;
$icon_mmenu_close_total_height = 314px;
$icon_mmenu_close_image = 'img/sprite.png';
$icon_mmenu_close = 56px 264px -56px -264px 44px 44px 336px 314px 'img/sprite.png' 'icon-mmenu-close';
$icon_slider_1_name = 'icon-slider-1';
$icon_slider_1_x = 280px;
$icon_slider_1_y = 116px;
$icon_slider_1_offset_x = -280px;
$icon_slider_1_offset_y = -116px;
$icon_slider_1_width = 49px;
$icon_slider_1_height = 51px;
$icon_slider_1_total_width = 336px;
$icon_slider_1_total_height = 314px;
$icon_slider_1_image = 'img/sprite.png';
$icon_slider_1 = 280px 116px -280px -116px 49px 51px 336px 314px 'img/sprite.png' 'icon-slider-1';
$icon_slider_2_name = 'icon-slider-2';
$icon_slider_2_x = 0px;
$icon_slider_2_y = 264px;
$icon_slider_2_offset_x = 0px;
$icon_slider_2_offset_y = -264px;
$icon_slider_2_width = 46px;
$icon_slider_2_height = 50px;
$icon_slider_2_total_width = 336px;
$icon_slider_2_total_height = 314px;
$icon_slider_2_image = 'img/sprite.png';
$icon_slider_2 = 0px 264px 0px -264px 46px 50px 336px 314px 'img/sprite.png' 'icon-slider-2';
$icon_slider_3_name = 'icon-slider-3';
$icon_slider_3_x = 280px;
$icon_slider_3_y = 56px;
$icon_slider_3_offset_x = -280px;
$icon_slider_3_offset_y = -56px;
$icon_slider_3_width = 50px;
$icon_slider_3_height = 50px;
$icon_slider_3_total_width = 336px;
$icon_slider_3_total_height = 314px;
$icon_slider_3_image = 'img/sprite.png';
$icon_slider_3 = 280px 56px -280px -56px 50px 50px 336px 314px 'img/sprite.png' 'icon-slider-3';
$icon_slider_next_name = 'icon-slider-next';
$icon_slider_next_x = 82px;
$icon_slider_next_y = 82px;
$icon_slider_next_offset_x = -82px;
$icon_slider_next_offset_y = -82px;
$icon_slider_next_width = 72px;
$icon_slider_next_height = 140px;
$icon_slider_next_total_width = 336px;
$icon_slider_next_total_height = 314px;
$icon_slider_next_image = 'img/sprite.png';
$icon_slider_next = 82px 82px -82px -82px 72px 140px 336px 314px 'img/sprite.png' 'icon-slider-next';
$icon_slider_prev_name = 'icon-slider-prev';
$icon_slider_prev_x = 0px;
$icon_slider_prev_y = 82px;
$icon_slider_prev_offset_x = 0px;
$icon_slider_prev_offset_y = -82px;
$icon_slider_prev_width = 72px;
$icon_slider_prev_height = 140px;
$icon_slider_prev_total_width = 336px;
$icon_slider_prev_total_height = 314px;
$icon_slider_prev_image = 'img/sprite.png';
$icon_slider_prev = 0px 82px 0px -82px 72px 140px 336px 314px 'img/sprite.png' 'icon-slider-prev';
$icon_steps_arrow_name = 'icon-steps-arrow';
$icon_steps_arrow_x = 0px;
$icon_steps_arrow_y = 232px;
$icon_steps_arrow_offset_x = 0px;
$icon_steps_arrow_offset_y = -232px;
$icon_steps_arrow_width = 105px;
$icon_steps_arrow_height = 22px;
$icon_steps_arrow_total_width = 336px;
$icon_steps_arrow_total_height = 314px;
$icon_steps_arrow_image = 'img/sprite.png';
$icon_steps_arrow = 0px 232px 0px -232px 105px 22px 336px 314px 'img/sprite.png' 'icon-steps-arrow';
$spritesheet_width = 336px;
$spritesheet_height = 314px;
$spritesheet_image = 'img/sprite.png';
$spritesheet_sprites = $icon_close_small $icon_close $icon_features_1 $icon_features_2 $icon_features_3 $icon_features_4 $icon_location $icon_logo_mmenu $icon_mmenu_close $icon_slider_1 $icon_slider_2 $icon_slider_3 $icon_slider_next $icon_slider_prev $icon_steps_arrow;
$spritesheet = 336px 314px 'img/sprite.png' $spritesheet_sprites;

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

// The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.


/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}


// The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
// It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon_home_group = 'icon-home' $icon_home $icon_home_2x;
//
// .icon-home {
// 	retinaSprite($icon_home_group)
// }


spriteBackgroundSize($sprite) {
	background-size $sprite[6] $sprite[7]
}

retinaSprite($retina_group) {
	$normal_sprite = $retina_group[1]
	$retina_sprite = $retina_group[2]
	sprite($normal_sprite)

	@media (-webkit-min-device-pixel-ratio: 2),
				 (min-resolution: 192dpi) {
		spriteImage($retina_sprite)
		spriteBackgroundSize($normal_sprite)
	}
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

// The `retinaSprites` mixin generates a CSS rule and media query for retina groups
// This yields the same output as CSS retina template but can be overridden in Stylus
//
// retinaSprites($retina_groups)

retinaSprites($retina_groups) {
	for $retina_group in $retina_groups {
		$sprite_name = $retina_group[0];
		.{$sprite_name} {
			retinaSprite $retina_group
		}
	}
}
