button()
    display block
    width 100%
    max-width 200px
    height 45px
    border none
    border-radius 45px
    background-color #d90025
    background-image linear-gradient(to top, #fd163d 0%, #d90025 14%, #ef1a3e 90%, #fd264a 100%)
    color white
    font(Book)
    font-size 20px
    line-height 1
    text-align center
    text-decoration none
    outline none
    cursor pointer
    transition all 0.3s ease

    &:hover
        color @color
        text-decoration none
        background-image linear-gradient(to top, #ed163b 0%, #c80123 14%, #dd183a 90%, #ed163b 100%)

.button
    button()

input()
    width 100%
    height 52px
    background-color white
    border 1px solid #d4d4d4
    border-radius 2px

    color #000
    font()
    font-size 18px
    line-height 52px
    padding 0 15px
    position relative
    &:focus
        background-color white
        border 2px solid #ffd21c
        box-shadow 0 0 14px rgba(255, 210, 28, 0.8)

.input
    input()

// label.invalid-field
//     display block
//     width 100%
//     max-width 278px
//     color red
//     font(Regular)
//     font-size 14px
//     line-height 1
//     text-align center
//     padding 0px 20px
//     margin -10px auto 15px
//     &.hidden
//         display none !important

input::-webkit-input-placeholder
    color #b8b8b8
    opacity 1
input::-moz-placeholder
    color #b8b8b8
    opacity 1
input:-moz-placeholder
    color #b8b8b8
    opacity 1
input:-ms-input-placeholder
    color #b8b8b8
    opacity 1
input:input-placeholder
    color #b8b8b8
    opacity 1

// input:focus::-webkit-input-placeholder
//     opacity 1
//     color #b8b8b8
// input:focus::-moz-placeholder
//     opacity 1
//     color #b8b8b8
// input:focus:-moz-placeholder
//     opacity 1
//     color #b8b8b8
// input:focus:-ms-input-placeholder
//     opacity 1
//     color #b8b8b8
// input:focus:input-placeholder
//     opacity 1
//     color #b8b8b8

// input:-webkit-autofill
//     -webkit-box-shadow inset 0 0 0 50px rgba(255,255,255,1) !important
//     background-color white !important
//     -webkit-text-fill-color #003874 !important;
//     color #003874 !important
