mixin docs()
    section.docs&attributes(attributes)
        .docs__in
            h2.docs__title Необходимые документы
            ul.docs__list
                li.docs__item
                    img(src="assets/img/docs-1.jpg" width="172" height="240" alt="Паспорт").docs__img
                    p.docs__caption Паспорт гражданина Российской Федерации
                li.docs__item
                    img(src="assets/img/docs-2.jpg" width="172" height="240" alt="Свидетельство").docs__img
                    p.docs__caption Свидетельство о регистрации Транспортного средства
                li.docs__item
                    img(src="assets/img/docs-3.jpg" width="172" height="240" alt="ПТС").docs__img
                    p.docs__caption Паспорт транспортного средства
