.docs
    width 100%
    background-color #fff

    &__in
        container(1070px)
        padding 50px 20px
        +below(480px)
            padding-bottom 30px

    &__title
        color #2a2a2a
        font(Demi)
        font-size 30px
        line-height 1
        text-align center
        text-transform uppercase
        margin 0 0 50px

    &__list
        display flex
        justify-content space-between
        flex-flow row nowrap
        width 100%
        list-style none
        padding 0
        margin 0
        +below(480px)
            flex-wrap wrap
            justify-content center

    &__item
        flex 0 1 270px
        display inline-block
        margin 0 20px
        +below(940px)
            margin 0 10px
            flex 0 1 172px

        +below(480px)
            margin 0 0 40px
            flex 0 1 270px

    &__img
        display block
        width 100%
        max-width 172px
        height auto
        margin 0 auto 30px

    &__caption
        color #2a2a2a
        font()
        font-size 20px
        line-height 1.3
        text-align center
        margin 0
        +below(650px)
            font-size 16px
        +below(480px)
            font-size 20px
