mixin card()
    .card&attributes(attributes)
        .card__info
            p.card__price 1 400 000 руб
            ul.card__list
                li.card__item
                    .card__caption Год выпуска
                    .card__value 2012
                li.card__item
                    .card__caption Пробег
                    .card__value 245 775км
                li.card__item
                    .card__caption Кузов
                    .card__value Минивэн
                li.card__item
                    .card__caption Цвет
                    .card__value Коричневый металлик
                li.card__item
                    .card__caption Двигатель
                    .card__value 2.0 145 л.с.бензин
                li.card__item
                    .card__caption Коробка
                    .card__value Механическая
                li.card__item
                    .card__caption Привод
                    .card__value Передний
                li.card__item
                    .card__caption Руль
                    .card__value Левый
                li.card__item
                    .card__caption Состояние
                    .card__value Не требует ремонта
                li.card__item
                    .card__caption Владельцы
                    .card__value 1 владелец
                li.card__item
                    .card__caption ПТС
                    .card__value Оригинал
                li.card__item
                    .card__caption Таможня
                    .card__value Растаможен

            a(href="#card-detailes" role="button").card__button.js-scrollto Все характеристики

        .card__slideshow
            .fotorama(data-auto="false")
                img(src="assets/img/card/card-1.jpg" alt="")
                img(src="assets/img/card/card-2.jpg" alt="")
                img(src="assets/img/card/card-3.jpg" alt="")
                img(src="assets/img/card/card-4.jpg" alt="")
                img(src="assets/img/card/card-5.jpg" alt="")
                img(src="assets/img/card/card-6.jpg" alt="")
                img(src="assets/img/card/card-7.jpg" alt="")
                img(src="assets/img/card/card-8.jpg" alt="")
                img(src="assets/img/card/card-9.jpg" alt="")
                img(src="assets/img/card/card-10.jpg" alt="")
                img(src="assets/img/card/card-11.jpg" alt="")
                img(src="assets/img/card/card-12.jpg" alt="")
