mixin top-menu()
    ul.top-menu&attributes(attributes)
        li.top-menu__item.current
            a(href="#").top-menu__link Главная
        li.top-menu__item
            a(href="#").top-menu__link О компании
        li.top-menu__item
            a(href="#").top-menu__link Вопросы и ответы
        li.top-menu__item
            a(href="#").top-menu__link Мы в прессе
        li.top-menu__item
            a(href="#").top-menu__link Контактная информация
