.top-menu
    display block
    width 100%
    list-style none
    font-size 0
    max-width 960px
    padding 0
    margin 0 auto

    &__item
        display inline-block
        padding 0
        margin 0

    &__link
        display inline-block
        color #666
        height 32px
        color #666
        font()
        font-size 16px
        line-height 1
        padding 7px 16px 0
        text-decoration none
        transition all .3s ease

        ^[0]__item.current &
        &.current
        &:hover
            color #666
            text-decoration none
            background-color #e6eaee
