mixin catalog()
    .catalog&attributes(attributes)
        .catalog__in
            ul.catalog__list
                li.catalog__item
                    img(src="assets/img/catalog/photo-1.jpg" width="" height="" alt="").catalog__photo
                    h3.catalog__caption
                        a(href="#").catalog__link BMW 6-Series 2013
                    p.catalog__description Бензиновый двигатель 1.6 л,  124 л.с., авт. трансмиссиия, передний привод, седан, пробег по РФ 110000, левый руль
                li.catalog__item
                    img(src="assets/img/catalog/photo-2.jpg" width="" height="" alt="").catalog__photo
                    h3.catalog__caption
                        a(href="#").catalog__link Volkswagen Touareg
                    p.catalog__description Бензиновый двигатель 1.6 л,  124 л.с., авт. трансмиссиия, передний привод, седан, пробег по РФ 110000, левый руль
                li.catalog__item
                    img(src="assets/img/catalog/photo-3.jpg" width="" height="" alt="").catalog__photo
                    h3.catalog__caption
                        a(href="#").catalog__link BMW X5, 2007 год
                    p.catalog__description Бензиновый двигатель 1.6 л,  124 л.с., авт. трансмиссиия, передний привод, седан, пробег по РФ 110000, левый руль
                li.catalog__item
                    img(src="assets/img/catalog/photo-4.jpg" width="" height="" alt="").catalog__photo
                    h3.catalog__caption
                        a(href="#").catalog__link BMW 6-Series 2013
                    p.catalog__description Бензиновый двигатель 1.6 л,  124 л.с., авт. трансмиссиия, передний привод, седан, пробег по РФ 110000, левый руль
                li.catalog__item
                    img(src="assets/img/catalog/photo-4.jpg" width="" height="" alt="").catalog__photo
                    h3.catalog__caption
                        a(href="#").catalog__link Volkswagen Touareg
                    p.catalog__description Бензиновый двигатель 1.6 л,  124 л.с., авт. трансмиссиия, передний привод, седан, пробег по РФ 110000, левый руль
                li.catalog__item
                    img(src="assets/img/catalog/photo-6.jpg" width="" height="" alt="").catalog__photo
                    h3.catalog__caption
                        a(href="#").catalog__link BMW X5, 2007 год
                    p.catalog__description Бензиновый двигатель 1.6 л,  124 л.с., авт. трансмиссиия, передний привод, седан, пробег по РФ 110000, левый руль
                li.catalog__item
                    img(src="assets/img/catalog/photo-1.jpg" width="" height="" alt="").catalog__photo
                    h3.catalog__caption
                        a(href="#").catalog__link BMW 6-Series 2013
                    p.catalog__description Бензиновый двигатель 1.6 л,  124 л.с., авт. трансмиссиия, передний привод, седан, пробег по РФ 110000, левый руль
                li.catalog__item
                    img(src="assets/img/catalog/photo-2.jpg" width="" height="" alt="").catalog__photo
                    h3.catalog__caption
                        a(href="#").catalog__link Volkswagen Touareg
                    p.catalog__description Бензиновый двигатель 1.6 л,  124 л.с., авт. трансмиссиия, передний привод, седан, пробег по РФ 110000, левый руль
                li.catalog__item
                    img(src="assets/img/catalog/photo-3.jpg" width="" height="" alt="").catalog__photo
                    h3.catalog__caption
                        a(href="#").catalog__link BMW X5, 2007 год
                    p.catalog__description Бензиновый двигатель 1.6 л,  124 л.с., авт. трансмиссиия, передний привод, седан, пробег по РФ 110000, левый руль
                
