.order-form
    background-color rgba(0,0,0,.7)
    padding 20px
    height auto
    width 100%
    max-width 360px
    +below(940px)
        max-width 100%
        padding 40px
    +below(480px)
        padding 40px 20px 20px

    &__input
        margin-bottom 20px
        height 42px
        line-height 42px
        +below(940px)
            display block
            height 50px
            line-height 50px
            max-width 590px
            margin 0 auto 20px

    &__bottom
        margin 0
        display flex
        flex-flow row nowrap
        +below(940px)
            flex-direction column

    &__button
        max-width 150px
        height 40px
        flex 0 0 auto
        font-size 16px
        +below(940px)
            max-width 190px
            height 50px
            margin 0 auto 20px
            font-size 20px

    &__privacy
        color #bebebe
        font()
        font-size 11px
        line-height 1.5
        margin 0 0 0 10px
        +below(940px)
            font-size 14px
            margin 0
            text-align center
