.ask-question
    display block
    width 100%
    background-color #f4f6f8
    margin 50px 0 10px

    &__in
        container(1210px)
        padding 30px 20px 35px

    &__title
        color #2a2a2a
        font(Book)
        font-size 50px
        line-height 1
        text-align left
        margin 0 0 .7em
        +below(1000px)
            font-size 40px
        +below(768px)
            text-align center
        +below(480px)
            font-size 34px
