mixin answer()
    .answer&attributes(attributes)
        img(src="assets/img/specialist-photo.jpg" width="70" height="70" alt="Анна Дмитриева").answer__photo 
        h3.answer__name Специалист компании Автосделка Анна Дмитриева
        time(datetime="2016-02-20").answer__date 20.02.2016
        p.answer__text Здравствуйте, Ирина! Спасибо за обращение. Вашим автомобилем не сможет никто воспользоваться. На время залога ключи и документы от Вашего автомобиля хранятся в отделении Ломбарда, отдельно от автомобиля,         в опечатанном сейфе. В любой момент Вы можете проверить наличие Вашего автомобиля на охраняемой стоянке         Ломбарда в прежнем состоянии и в том месте, где Вы его оставили.
