.header
    width 100%
    position relative
    background-color #fff

    &__top
        width 100%
        background-color #f4f6f8
        padding 0
        margin 0
        +below(940px)
            display none

    &__nav
        display block
        width 100%
        background-color #dd193a
        padding 0
        margin 0

    &__main
        container(1210px)
        padding 34px 20px 40px
        display flex
        justify-content space-between
        flex-flow row nowrap
        +below(1240px)
            padding 29px 20px 28px
        +below(940px)
            flex-flow column nowrap
            padding-top 40px

    &__mmenu-trigger
        position absolute
        top 60px
        right 40px
        +below(480px)
            top 50px
            right 20px

    &__logo
    &__mid
    &__right
        flex 0 0 auto

    &__logo
        margin-top 5px
        +below(1240px)
            max-width 216px
        +below(940px)
            max-width 270px
            margin-bottom 50px
        +below(480px)
            max-width 200px

    &__mid
        display block
        max-width 300px
        padding-left 30px
        position relative
        &::before
            content ""
            sprite($icon_location)
            position absolute
            top 2px
            left 3px
        +below(1240px)
            max-width 250px
        +below(940px)
            order 3
            max-width 100%
        +below(480px)
            text-align center
            padding-left 0
            &::before
                display none

    &__address
        color #2a2a2a
        font()
        font-size 20px
        line-height 1.3
        margin 0 0 10px
        +below(1240px)
            font-size 16px
        +below(940px)
            display inline-block
            font-size 20px
            margin-right 25px
        +below(480px)
            margin-right 0

    &__map-link
        display inline-block
        color #666
        font()
        font-size 20px
        line-height 1
        padding-bottom 1px
        border-bottom 1px solid #666
        text-decoration none
        transition all .3s ease
        &:hover
            color #d90025
            text-decoration none
            border-bottom-color #d90025
        +below(1240px)
            font-size 16px
        +below(940px)
            font-size 20px

    &__right
        display inline-block
        text-align right
        +below(940px)
            display block
            text-align left
            margin-bottom 25px
        +below(480px)
            text-align center

    &__phone
        display block
        font-size 46px
        color #666
        font()
        line-height 1
        text-decoration none
        margin 0 0 15px
        strong
            color black
            font(Bold)
        &:hover
            color @color
            text-decoration none
        +below(1240px)
            font-size 37px
        +below(940px)
            display inline-block
            font-size 45px
            margin-right 24px
        +below(480px)
            font-size 34px
            margin-right 0
        +below(400px)
            font-size 28px

    &__callback
        display inline-block
        color #666
        font()
        font-size 20px
        line-height 1
        padding-bottom 1px
        border-bottom 1px dotted #666
        text-decoration none
        transition all .3s ease
        &:hover
            color #d90025
            text-decoration none
            border-bottom-color #d90025
        +below(1240px)
            font-size 16px
        +below(940px)
            font-size 20px
