mixin features()
    .features&attributes(attributes)
        ul.features__list
            li.features__item C нами <br><span>просто</span>
            li.features__item C нами <br><span>надежно</span>
            li.features__item C нами <br><span>быстро</span>
            li.features__item C нами <br><span>удобно</span>
