mixin extra-links()
    ul.extra-links&attributes(attributes)
        li.extra-links__item
            a(href="#").extra-links__link Автозайм
        li.extra-links__item
            a(href="#").extra-links__link Выкуп автомобиля
        li.extra-links__item
            a(href="#").extra-links__link Автосалон
